{% extends 'base.html.twig' %}

 {% block data%}



<div class="container">

     <div class="jumbotron">
        <h1 class="display-3">Jeux de Mots</h1>
        <p class="lead">Dictionnaire d'associations lexicale contributif et libre de JeuxDeMots.</p>
        <form action="/node/get" autocomplete="off">
          <div class="row">
            <div class="col-6" id="dd">
              <input type="text" name ="urlencodedterm" class="form-control typeahead" placeholder="Entrer votre mots....">
            </div>
          </div>

              <br>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Recherche</button>
              </span>
        </form>
      </div>

      </div>
 {% endblock%}
